<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Search for Arist on Spotify' }) %>

    <body>


        <h1>Who sings this song?</h1>

        <button id="playButton" %> >Pause Song </button>

        <audio loop id="audioPlayer" src=" <%= preview %> "></audio>

        <section id="artist-answers">


        </section>

        <div id="answerModal"></div>


        <script src="/scripts/index.js"></script>

    </body>

</html>