<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Name the artist! | Shuffle Showdown' }) %>

    <body class="flex column justify-center">


        <header class="container flex space-between wrap gap">
            <h1>Name the artist</h1>



            <button id="playButton" %> >Pause Song </button><button id="startGame">Get Started</button>
        </header>

        <audio autoplay="false" loop id="audioPlayer" src=""></audio>

        <section class="container justify-center">
            <div class="visualiser">
                <div class="line running"></div>
                <div class="line running"></div>
                <div class="line running"></div>
                <div class="line running"></div>
                <div class="line running"></div>
            </div>
            <div id="artist-answers"></div>

        </section>



        <script src="/scripts/index.js"></script>

    </body>

</html>