<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Name the artist! | Shuffle Showdown' }) %>

    <body class="flex column justify-center">


        <header class="container flex space-between wrap gap">
            <h1>Name the artist</h1>

            <button class="btn bg-green" id="playButton" %> >Pause Song </button>


        </header>

        <audio autoplay="false" loop id="audioPlayer" src=""></audio>

        <section class="container justify-center">
            <div class="visualiser">
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
            </div>

            <div class="flex wrap justify-center align-center" id="artist-answers">
                <button class="btn bg-white" id="startGame">Get Started</button>
            </div>

            <div class="flex column align-center justify-center">
                <h3 id="round">Round <span id="roundNumber">1</span>
                </h3>
                <h4 id="timeRemaining">Time Remaining:</h4>
            </div>

        </section>



        <script src="/scripts/index.js"></script>

    </body>

</html>