<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Name the artist! | Shuffle Showdown' }) %>

    <body class="flex column justify-center">


        <header class="container flex column align-center justify-center gap text-center">
            <h1>Name the artist</h1>
            <h2>The quicker you answer, the higher your score!</h2>



        </header>

        <audio autoplay="false" id="audioPlayer" src=""></audio>

        <section class="container flex justify-center">
            <div class="visualiser">
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
                <div class="line "></div>
            </div>

            <div class="flex wrap justify-center align-center" id="artist-answers">
                <button class="btn bg-white" id="startGame">Get Started</button>
            </div>

            <button class="btn bg-green" id="playButton" %>>Pause Song
            </button>
            <div class="flex column align-center justify-center w-100">
                <h3 id="round">Round <span id="roundNumber"></span>
                </h3>
                <h4 id="timeRemaining">Time Remaining: <span id="timeCounter">15</span></h4>
            </div>

        </section>

        <script src="/scripts/index.js"></script>

    </body>

</html>