<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Search for Arist on Spotify' }) %>

    <body>
        <header>
            <ul>
                <li>
                    <%= userInfo.display_name %>
                </li>
            </ul>
            <img src=" <%= userInfo.images[1].url %>" alt="">
        </header>

        <h1>Who sings this song?</h1>

        <% likedSongs.forEach(track=> { %>

            <li>
                <%= track.track.name %>
            </li>

            <% }) %>




    </body>

</html>