<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Search for Arist on Spotify' }) %>

    <body>

        <h1>Shuffle Showdown</h1>

        <h2>How well do you know your liked songs?</h2>

        <div> <a class="btn" href="/authorize">Let's find out!</a></div>


    </body>

</html>